---
interface Props {
  id: string;
  authorName: string;
  authorUsername: string;
}

const { id, authorName, authorUsername } = Astro.props;
---

<figure class="flex flex-col justify-center items-center my-6 relative">
  <img
    transition:name={`https://source.unsplash.com/${id}`}
    src={`/unsplash/${id}.jpeg`}
    alt={`Photo by ${authorName} on Unsplash`}
    class="w-full h-auto"
  />
  <div class="absolute bottom-0 w-full py-6 px-4 backdrop-blur-3xl">
    <figcaption
      class="text-sm dark:text-white dark:text-opacity-60 text-gray-500"
    >
      Photo by
      <a target="_blank" href={`https://unsplash.com/${authorUsername}`}>
        {authorName}
      </a>
       on
      <a target="_blank" href={`https://unsplash.com/photos/${id}`}>
        Unsplash</a
      >
    </figcaption>
  </div>
</figure>
