---
import dayjs from 'dayjs';
import BlogTag from './BlogTag.vue';
import LanguageTag from './LanguageTag.vue';
import { calculateReadingTime } from '../utils/calculate-reading-time';
interface Props {
  id: string;
  publishedDate: string;
  tags: string[];
  title: string;
  description?: string;
  language: string;
  body: string;
  isBlog?: boolean;
}

const { id, publishedDate, tags, title, description, language, body, isBlog } =
  Astro.props;
---

<div class="space-y-3" transition:name={`blog-${id}`}>
  <div>
    <h1
      class:list={[
        'flex space-x-2 items-center',
        { 'text-2xl font-bold': !isBlog },
      ]}
    >
      <LanguageTag client:idle>{language}</LanguageTag>
      <span>{title}</span>
    </h1>
    {description && <div class="opacity-80">{description}</div>}
  </div>
  <div class="flex flex-wrap gap-4">
    {tags.map((tag) => <BlogTag label={tag} client:idle />)}
  </div>
  <div class="flex space-x-2 text-sm items-center">
    <span>
      {dayjs(publishedDate).format('DD MMM YYYY')}
    </span>
    <span>·</span>
    <span>{calculateReadingTime(body)} min read</span>
    <slot />
  </div>
</div>
